<html>
  <head>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
     <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script  type="text/javascript">
	//google.load('visualization', '1', {'packages':['annotatedtimeline']});
	google.load('visualization', '1.1', {'packages':['annotationchart']}); 
	function drawChart() {
		var jsonData = $.ajax({
         		 url: "api/?svname=vmn-411&day=today&box=api",
          		dataType:"json",
          		async: false
          	}).responseText;
          
		var jsonData2 = $.ajax({
                        url: "/api/?svname=vmn-411&day=lastday&box=api",
                        dataType:"json",
                        async: false
                }).responseText;

                var data2 = new google.visualization.DataTable(jsonData2);
      		// Create our data table out of JSON data loaded from server.
	        var data1 = new google.visualization.DataTable(jsonData);
		var data = google.visualization.data.join(data1, data2, 'full', [[0,0]], [1], [1]);
        	var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));
        	chart.draw(data, {displayAnnotations: true});
      	 }
	 google.setOnLoadCallback(drawChart);	
     </script>
  </head>

  <body>
    // Note how you must specify the size of the container element explicitly!
    <div id='chart_div' style='width: 700px; height: 240px;'></div>

  </body>
</html>
